<nav
  class="top-0 absolute z-50 w-full flex justify-end gap-4 px-2 py-3 bg-slate-900 shadow-md text-white"
>
  <a class="hover:underline" routerLinkActive="text-blue-500 underline" routerLink="/pokemons">Pokemones</a>
  <a class="hover:underline" routerLinkActive="text-blue-500 underline" routerLink="/about">About</a>
  <a class="hover:underline" routerLinkActive="text-blue-500 underline" routerLink="/pricing">pricing</a>
  <a class="hover:underline" routerLinkActive="text-blue-500 underline" routerLink="/contact">contact</a>
</nav>