<h1>Github Issues</h1>
<hr class="my-5 border-b-2 border-blue-600" />

<section class="grid grid-cols-1 sm:grid-cols-3 gap-2">
  <div class="col-span-3 flex flex-col">
    <div class="flex gap-2">
      <button
        [class.active]="issuesService.selectedState() === 'all'"
        (click)="onChangeState('all')"
        class="btn"
      >
        All
      </button>
      <button
        [class.active]="issuesService.selectedState() === 'open'"
        (click)="onChangeState('open')"
        class="btn"
      >
        Open
      </button>
      <button
        [class.active]="issuesService.selectedState() === 'closed'"
        (click)="onChangeState('closed')"
        class="btn"
      >
        Closed
      </button>
    </div>
  </div>

  <div class="mt-4 flex flex-col col-span-2">
    @for (issue of issuesQuery.data(); track issue.id) {
      <app-issue-item [issue]="issue"></app-issue-item>
    } @empty {
      @if (issuesQuery.isLoading()) {
        <p>Cargando Issues</p>
      } @else {
        <p>No hay issues que mostrar</p>
      }
    }
  </div>

  <div>
    @if (labelsQuery.isLoading()) {
      <p>Estamos cargando ....</p>
    } @else {
      <app-issues-labels-selector [labels]="labelsQuery.data() ?? []"></app-issues-labels-selector>
    }
  </div>
</section>
